.jumbotron{
  text-align: center;
}



#form {

  background-color: #ffc;
}
#crust {
  width: 100px;
  height: 30px;
  margin: 10px;
}
#top{
  width: 100px;
  height: 30px;
  margin: 10px;
}
#name{
  margin: 5px;
}
#total{
  font-size: 20px;
  color: white;
  margin-left: 500px;
  width: 400px;
  height: 200px;
  background-color: #777;
}
h5{
  color: white;
  font-size: 20px;
}
